{%extends 'main.html'%}
{%load static%}

{%block content%}
{% include 'base/header.html' %}
 <!-- Begin Page Content -->
 <div class="container-fluid">
  <div align="right">
      <a href="/" class="btn btn-primary btn-icon-split">
          <span class="icon text-white-50">
              <i class="fas fa-list"></i>
          </span>
          <span class="text">Liste patients</span>
      </a>
</div>
<br/>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dossier patient</h6>
        <hr/>
                    <div class="row">
                        <div class="col-md-2">
                            <font size="2px">Prénom:</font><br>
                            <b>{{patient.prenom}}</b>
                        </div>
                        <div class="col-md-2">
                            <font size="2px">Nom:</font><br>
                            <b>{{patient.nom}}</b>
                        </div>

                        <div class="col-md-1">
                            <font size="2px">Age:</font><br>
                            <b>{{patient.age}} ans</b>
                        </div>

                        <div class="col-md-2">
                            <font size="2px">Numéro de téléphone:</font><br>
                            <b>{{patient.telephone}}</b>
                        </div>

                        <div class="col-md-2">
                            <font size="2px">Pays d'origine:</font><br>
                            <b>{{patient.pays_origine}}</b>
                        </div>

                        <div class="col-md-3">
                            <font size="2px">Date d'enregistrement:</font><br>
                            <b>{{patient.date_creation}}</b>
                        </div>
                    </div>
       <!-- <table class="table">
            <tr>
                <td>Prénom: <b>{{patient.prenom}}</b></td>
                <td>Nom: <b>{{patient.nom}}</b></td>
                <td>Age: <b>{{patient.age}} ans</b></td>
                <td>Adresse: <b>{{patient.adresse}}</b></td>
                <td>Tel: <b>{{patient.telephone}}</b></td>
            </tr>
        </table>-->
    </div>
    <div class="card-body">
        
        <div class="row">
            
            <div class="col-md-3 well">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-default">DETAILS CONSULTATION</h6>
                    
                </div>
                    <div class="card-body">
                        <font size="2px">Ambulancier:</font><br>
                        <b>{{patient.ambulancier}}</b><br><br>
                        <font size="2px">Motif de l'appel:</font><br>
                        <b>{{patient.motif_appel}}</b><br><br>
                        <font size="2px">Lieu d'intervention</font><br>
                        <b>{{patient.lieu_intervention}}</b><br><br>
                        <font size="2px">Diagnostique évoqué:</font><br>
                        <b>{{patient.diagnostique_evoque}}</b><br><br>
                        <font size="2px">Décision</font><br>
                        <b>{{patient.decision}}</b><br><br>
                        <font size="2px">Tranjet:</font><br>
                        <b>{{patient.trajet}}</b><br><br>
                        <font size="2px">Numéro ambulance:</font><br>
                        <b>{{patient.numero_ambulance}}</b><br><br>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-default">INFOS PATIENT</h6>
                </div>
                    <div class="card-body">
                        <!-- Button trigger modal -->
                        <div class="alert alert-info"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   <i class="fas fa-plus"></i>
  </button><b> Horaires</b></div>
  <table class="table">
    <tr>
        <th>#</th>
        <th>HT</th>
        <th>D. base</th>
        <th>A. lieu</th>
        <th>D. lieu</th>
        <th>A.S.R</th>
        <th>D.S.R</th>
        <th>A. base</th>
        <th>Durée</th>
        <th>Action</th>
    </tr>
    {% for horaire in horaires %}
    <tr>
        <td>#</td>
        <td>{{horaire.ht}}</td>
        <td>{{horaire.d_base}}</td>
        <td>{{horaire.a_lieu}}</td>
        <td>{{horaire.d_lieu}}</td>
        <td>{{horaire.asr}}</td>
        <td>{{horaire.dsr}}</td>
        <td>{{horaire.a_base}}</td>
        <td>{{horaire.duree}}</td>
        <td> 
        <a href="/archive/{{horaire.id}}" class="btn btn-danger btn-circle btn-sm" title="Archiver">
            <i class="fas fa-archive"></i>
        </a></td>
    </tr>
    {% endfor %}
  </table>

  <!--Lesion-->
  <div class="alert alert-info"><button type="button" 
    class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal2">
    <i class="fas fa-plus"></i>
   </button><b> Lesion</b></div>
   
   <table class="table">
    <tr>
        <th>Lésions</th>
        <th>Crane</th>
        <th>Face</th>
        <th>Cou</th>
        <th>Rachis</th>
        <th>Thorax</th>
        <th>Abdomen</th>
        <th>Bassin</th>
        <th>MSD</th>
        <th>MSG</th>
        <th>MID</th>
        <th>MIG</th>
        <th>Action</th>
    </tr>
    {% for les in list_lesion %}
    <tr>
        <td>{{les.denomination}}</td>
        <td>{{les.crane}}</td>
        <td>{{les.face}}</td>
        <td>{{les.cou}}</td>
        <td>{{les.rachis}}</td>
        <td>{{les.thorax}}</td>
        <td>{{les.abdomen}}</td>
        <td>{{les.bassin}}</td>
        <td>{{les.msd}}</td>
        <td>{{les.msg}}</td>
        <td>{{les.mid}}</td>
        <td>{{les.mig}}</td>
        <td><a href="/archive/{{les.id}}" class="btn btn-danger btn-circle btn-sm" title="Archiver">
            <i class="fas fa-archive"></i></td>
    </tr>
    {% endfor%}
   </table>

  <!--End lesion-->

  <!--Lesion-->
  
  <div class="alert alert-info">
    <table class="table">
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ouvertureYeux">
                <i class="fas fa-plus"></i>
                </button><b> Ouvert. yeux </b>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reponseVerbale">
                    <i class="fas fa-plus"></i>
                </button><b> Rép. verbale </b>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reponseMotrice">
                    <i class="fas fa-plus"></i>
                </button><b> Rép. motrice </b>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#autreSigne">
                    <i class="fas fa-plus"></i>
                </button>
                <b> Autres signes </b>
            </td>
        </tr>
    </table>
</div>

<table class="table">
    <legend><h6>Ouverture des yeux</h6></legend>
    <tr>
        <th>Libelle</th>
        <th>Score</th>
        <th>Action</th>
    </tr>

    {% for ouvert in ouverture_des_yeux %}
    <tr>
        <td>{{ouvert.libelle}}</td>
        <td>{{ouvert.score}}</td>
        <td> - - -</td>
    </tr>
    {% endfor %}

</table>

<table class="table">
    <legend><h6>Réponse verbale</h6></legend>
    <tr>
        <th>Libelle</th>
        <th>Score</th>
        <th>Action</th>
    </tr>

    {% for rep_verb in reponses_verbale %}
    <tr>
        <td>{{rep_verb.libelle}}</td>
        <td>{{rep_verb.score}}</td>
        <td> - - -</td>
    </tr>
    {% endfor %}
</table>

<table class="table">
    <legend><h6>Réponse motrice</h6></legend>
    <tr>
        <th>Libelle</th>
        <th>Score</th>
        <th>Action</th>
    </tr>

    {% for rep_mot in reponses_mot %}
    <tr>
        <td>{{rep_mot.libelle}}</td>
        <td>{{rep_mot.score}}</td>
        <td> - - -</td>
    </tr>
    {% endfor %}
</table>

  <!--End lesion-->
  
  <!-- Modal horaire-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saisie Horaires</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/save_horaire">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">HT</label>
                    <input type="text" class="form-control" name="ht" id="inputEmail4"
                        placeholder="au format __h__">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">D. base</label>
                    <input type="text" name="d_base" class="form-control" id="inputPassword4"
                        placeholder="au format __h__">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">A. lieu</label>
                    <input type="text" class="form-control" name="a_lieu" id="inputEmail4"
                        placeholder="au format __h__">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">D. lieu</label>
                    <input type="text" name="d_lieu" class="form-control" id="inputPassword4"
                        placeholder="au format __h__">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">A.S.R</label>
                    <input type="text" class="form-control" name="asr" id="inputEmail4"
                        placeholder="au format __h__">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">D.S.R</label>
                    <input type="text" name="dsr" class="form-control" id="inputPassword4"
                        placeholder="au format __h__">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">A. base</label>
                    <input type="text" class="form-control" name="a_base" id="inputEmail4"
                        placeholder="au format __h__">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Durée</label>
                    <input type="text" name="duree" class="form-control" id="inputPassword4"
                        placeholder="La durée">
                 <input type="hidden" name="patient" class="form-control" id="inputPassword4"
                        value="{{patient.id}}">
                </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Enregister"/>
        </div>
    </form>
</div>
      </div>
    </div>
  </div> 

  <!--end modal horaires-->

  <!--Modal ouverture yeux-->

  
  <div class="modal fade" id="ouvertureYeux" tabindex="-1" role="dialog" aria-labelledby="ouvertureYeux" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ouverture des yeux</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/save_ouverture_yeux">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <select class="custom-select mr-sm-2"
                         id="inlineFormCustomSelect" 
                         name="libelle_signe">
                         <option>- - - Sélectionnez - - -</option>
                         <option value="Spontanée">Spontanée</option>
                         <option value="Au bruit">Au bruit</option>
                         <option value="A la douleur">A la douleur</option>
                         <option value="Nulle">Nulle</option>
                        </select>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="number" class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="score" min="0"/>
                        <input type="hidden" name="patient" value="{{patient.id}}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Enregister"/>
                  </div>
            </form>
        </div>
       
      </div>
    </div>
  </div>
  <!--End modal ouverture yeux-->

    <!--Modal Réponse motrice -->
    <div class="modal fade" id="reponseMotrice" tabindex="-1" role="dialog" aria-labelledby="reponseMotrice" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Réponse motrice</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/save_reponse_motrice">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <select class="custom-select mr-sm-2"
                             id="inlineFormCustomSelect" 
                             name="libelle_signe">
                             <option>- - - Sélectionnez - - -</option>
                             <option value="A la commande">A la commande</option>
                             <option value="Orientée">Oriantée</option>
                             <option value="Flexion retrait">Flexion retrait</option>
                             <option value="Décoration">Décoration</option>
                             <option value="Décérébration">Décérébration</option>
                             <option value="Nulle">Nulle</option>
                            </select>
    
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="number" class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="score" min="0"/>
                            <input type="hidden" name="patient" value="{{patient.id}}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Enregister"/>
                      </div>
                </form>
            </div>
           
          </div>
        </div>
      </div>
      <!--End Réponse motrice-->
    

  <!--Modal reponse verbale-->

  
  <div class="modal fade" id="reponseVerbale" tabindex="-1" role="dialog" aria-labelledby="reponseVerbale" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Réponse verbale</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/save_reponse_verbale">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <select class="custom-select mr-sm-2"
                         id="inlineFormCustomSelect" 
                         name="libelle_signe">
                         <option>- - - Sélectionnez - - -</option>
                         <option value="Orienté">Orienté</option>
                         <option value="Confuse">Confuse</option>
                         <option value="Inappropriée">Inappropriée</option>
                         <option value="Incompréhensible">Incompréhensible</option>
                         <option value="Nulle">Nulle</option>
                        </select>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="number" class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="score" min="0"/>
                        <input type="hidden" name="patient" value="{{patient.id}}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Enregister"/>
                  </div>
            </form>
        </div>
       
      </div>
    </div>
  </div>
  <!--End modal reponse verbale-->


    <!-- Modal lesion-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Saisie lesion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="/save_lesion">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <select class="custom-select mr-sm-2"
                         id="inlineFormCustomSelect" 
                         name="nom_lesion">
                         <option>- - - Sélectionnez - - -</option>
                         <option value="Traumatisme">Traumatisme</option>
                         <option value="Plaie">Plaie</option>
                         <option value="Hémorragie">Hémorragie</option>
                         <option value="Ex ferme">Ex ferme</option>
                         <option value="Fx ouverte">Fx ouverte</option>
                         <option value="Brulure">Brûlure</option>
                         <option value="Douleur">Douleur</option>
                        </select>

                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Crane</label>
                        <input type="text" 
                        class="form-control" name="crane" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Face</label>
                        <input type="text" 
                        class="form-control" name="face" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Cou</label>
                        <input type="text" 
                        class="form-control" name="cou" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Rachis</label>
                        <input type="text" 
                        class="form-control" name="rachis" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Thorax</label>
                        <input type="text" 
                        class="form-control" name="thorax" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Abdomen</label>
                        <input type="text" 
                        class="form-control" name="abdomen" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Bassin</label>
                        <input type="text" 
                        class="form-control" name="bassin" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">MSD</label>
                        <input type="text" 
                        class="form-control" name="msd" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">MSG</label>
                        <input type="text" 
                        class="form-control" name="msg" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">MID</label>
                        <input type="text" 
                        class="form-control" name="mid" id="inputEmail4"
                            placeholder="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">MIG</label>
                        <input type="text" 
                        class="form-control" name="mig" id="inputEmail4"
                            placeholder="">
                        <input type="hidden" name="patient" class="form-control" id="inputPassword4"
                        value="{{patient.id}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Autre remarque</label>
                        <textarea name="autre" class="form-control" id="inputEmail4"
                            placeholder=""></textarea>
                    </div>
                </div>
               
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <input type="submit" class="btn btn-primary" value="Enregister"/>
            </div>
        </form>
    </div>
          </div>
        </div>
      </div> 
    
      <!--end modal lesion-->
    

                </div>
            </div>
        
    </div>
</div>


{% include 'base/footer.html' %}

{%endblock%}

 